.git
.gitignore
.tmp-docker-config

__pycache__/
*.pyc

dataset/
smoke-dataset/
TGN-smoke/

TGN/implementation/storage/
TALL/implementation/storage/

TGN/implementation/.venv/
TALL/implementation/.venv/

TGN/implementation/__pycache__/
TALL/implementation/__pycache__/
